<h1>Enter a word to see it's Anagram match!</h1>

<form action='/return'>
  <div class="form-group">
    <label for="input">Enter a word(s):</label>
    <input id="input1" name="input1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="input">Enter a second word(s):</label>
    <input id="input2" name="input2" class="form-control" type="text">
  </div>
  <button id="submit" type="submit" class="btn-primary">Get Score</button>
</form>
