<h1>Enter a word to see it's Anagram match!</h1>

<form action='/return'>
  <div class="form-group">
    <label for="input">Word to score:</label>
    <input id="input" name="input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-primary">Get Score</button>
</form>
  <!-- Other page content -->
