<h1>Did you Enter an Anagram?</h1>
<h2><%= @output_anagram %></h2>
<h2><%= @output_antigram %></h2>
<h2><%= @output_palidrome %></h2>
<br>
<h4><%= @output_message %></h4>
<br>
<a href="/">try it again</a>
